<section class="mat-typography">

  <div class="content-header">
    <h2>{{state}} Question</h2>
  </div>
  <div class="content-dialog">
    <form (ngSubmit)="submit()" #form="ngForm">
      <table style="width:100%;">
        <tr>
          <td>
            <mat-form-field style="width:40px;">
              <input matInput name="No" placeholder="No." min="1" oninput="this.value = this.value.replace(/[^0-9]/g,'');" autocomplete="off"
                [(ngModel)]="orderNo">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-select placeholder="Type of Choice" [(value)]="questionHeader.questionTypeID">
                <mat-option *ngFor="let t of questionType" [value]="t.typeID">
                  {{t.typeName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-checkbox [checked]="questionHeader.questionActive == '1'" (change)="questionHeader.questionActive == '1' ? questionHeader.questionActive = '0' : questionHeader.questionActive = '1';">Active</mat-checkbox>
          </td>
          <td>
            <mat-checkbox [checked]="questionHeader.isForCalculation == '1'" (change)="questionHeader.isForCalculation == '1' ? questionHeader.isForCalculation = '0' : questionHeader.isForCalculation = '1';">Use for Calculation</mat-checkbox>
          </td>
        </tr>
      </table>

      <mat-tab-group style="border: 1px solid #e8e8e8;">
        <div *ngFor="let q of question">
          <mat-tab [label]="q.nationName">
            <div style="padding:10px;">
              <!-- {{q.questionText}} -->
              <mat-form-field>
                <input matInput [name]="q.nationID" placeholder="Question" autocomplete="off" [(ngModel)]="q.questionText">
              </mat-form-field>

              <table style="width:100%;" *ngIf="questionHeader.questionTypeID == 'T02'">
                <tr>
                  <td style="width:50%;">
                    <mat-form-field style="width:240px !important;">
                      <input matInput placeholder="1st Choice" [(value)]="q.choice1">
                    </mat-form-field>
                    <mat-form-field style="width:80px !important;">
                      <input matInput placeholder="1st Score" [(value)]="q.score1">
                    </mat-form-field>
                  </td>
                  <td style="width:50%;">
                    <mat-form-field style="width:240px !important;">
                      <input matInput placeholder="2nd Choice" [(value)]="q.choice2">
                    </mat-form-field>
                    <mat-form-field style="width:80px !important;">
                      <input matInput placeholder="2nd Score" [(value)]="q.score2">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td style="width:50%;">
                    <mat-form-field style="width:240px !important;">
                      <input matInput placeholder="3rd Choice" [(value)]="q.choice3">
                    </mat-form-field>
                    <mat-form-field style="width:80px !important;">
                      <input matInput placeholder="3rd Score" [(value)]="q.score3">
                    </mat-form-field>
                  </td>
                  <td style="width:50%;">
                    <mat-form-field style="width:240px !important;">
                      <input matInput placeholder="4th Choice" [(value)]="q.choice4">
                    </mat-form-field>
                    <mat-form-field style="width:80px !important;">
                      <input matInput placeholder="4th Score" [(value)]="q.score4">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td style="width:50%;">
                    <mat-form-field style="width:240px !important;">
                      <input matInput placeholder="5th Choice" [(value)]="q.choice5">
                    </mat-form-field>
                    <mat-form-field style="width:80px !important;">
                      <input matInput placeholder="5th Score" [(value)]="q.score5">
                    </mat-form-field>
                  </td>
                  <td style="width:50%;">
                    <mat-checkbox [checked]="q.useTextboxFlg == '1'" (change)="q.useTextboxFlg == '1' ? q.useTextboxFlg = '0' : q.useTextboxFlg = '1';">Show Textbox at choice</mat-checkbox>
                    <mat-select *ngIf="q.useTextboxFlg == '1'" placeholder="After select choice" style="width:140px;" [(value)]="q.useTextboxAt">
                      <mat-option value='1'>
                        1
                      </mat-option>
                      <mat-option value='2'>
                        2
                      </mat-option>
                      <mat-option value='3'>
                        3
                      </mat-option>
                      <mat-option value='4'>
                        4
                      </mat-option>
                      <mat-option value='5'>
                        5
                      </mat-option>
                    </mat-select>
                  </td>
                </tr>
              </table>
            </div>
          </mat-tab>
        </div>
      </mat-tab-group>
      <br>

      <button mat-raised-button type="submit" id="submit" [disabled]="form.invalid">OK</button>
      <button mat-raised-button id="cancel" [mat-dialog-close]="false">NO</button>
    </form>

  </div>
</section>