@import '../../global.scss';

.header-setting {
    h3 {
        display:inline;
    }
    button {
        float:right;
        color:$bphBlue;
        // background-color:$bphRed;
    }

}
table {
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    tr{
        th {
            // text-align:left;
            background-color:$bphBlue;
            text-align: left;
            color: white;
        }
        td,th {
            vertical-align:center;
            border: 1px solid #ddd;
            padding: 10px;
            mat-icon{
                color:$bphSkyBlue;
            }
        }
        td:last-child,th:last-child{
            width:100px;
            text-align:center;
        }
    }
    tr:hover {background-color: #ddd;}
}