<mat-card>
  <div class="header-setting">
    <h3>Manage Language</h3>
    <button mat-raised-button (click)="addLanguage()">
      Add Language
    </button>
  </div>
  <br>

  <table>
    <tr>
      <th>
        Language
      </th>
      <th>
        Manage
      </th>
    </tr>
    <tr *ngFor="let lang of languages">
      <td>{{lang.nationID + " (" + lang.nationName + ")"}}</td>
      <td>
        <button mat-icon-button (click)="editLanguage(lang)">
          <mat-icon>settings</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</mat-card>