@import '../global.scss';

.login-dialog{
    width:500px;
    height:250px;
    margin:0 auto;
    background-color:$bphBlue;
    color:$bphWhite;
    position:absolute; 
    left:calc(50% - 260px);
    top:calc(50% - 125px);
    padding: 10px;
    border-radius: 15px 50px; 
    box-shadow:$shadowBox;
    .input-dialog{
        color:black;
        float:right;
        width: 400px;
        height:120px;
        background-color:$bphWhite;
        border-radius: 15px;
        box-shadow:$shadowBox;
        padding:10px;

        mat-form-field{
            width:100%;
        }
    }
    .btn-content {
        padding-right:10px;
        padding-bottom:20px;
        color:black;
        position:absolute;
        bottom:0;
        right:0;
    }
}
