<div class="login-dialog">
  <h1>
    <strong>Login to CSI IPD</strong>
  </h1>

  <div class="input-dialog">
    <mat-radio-group [(ngModel)]="userFlg">
      <mat-radio-button value="patient" checked>Patient IPD</mat-radio-button>
      &nbsp;
      <mat-radio-button value="employee">Employee</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="userFlg == 'patient'">
      <mat-form-field hideRequiredMarker="true">
        <input matInput placeholder="HN Patient" minlength="8" maxlength="12" required  [(ngModel)]="HN">
      </mat-form-field>
    </div>

    <div *ngIf="userFlg == 'employee'">
      <mat-form-field hideRequiredMarker="true">
        <input matInput placeholder="Username" required [(ngModel)]="id">
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true">
        <input type="password" matInput placeholder="Password" required [(ngModel)]="pwd">
      </mat-form-field>
    </div>
  </div>

  <div class="btn-content">
    <button mat-raised-button (click)="loggin()">Login</button>
  </div>
</div>