@import '../global.scss';
.table-setting {
    table-layout: fixed;
    width:100%;
    td {
        vertical-align:top;
    }
    td:first-child{
        width:200px;
    }
}

.select-setting {
    color:$bphWhite;
    background-color:$bphRed;
}