<!-- <mat-card *ngIf="(router.url == '/employee/setting/group' || router.url == '/employee/setting/language' || router.url == '/employee/setting') == true "> -->
<mat-card>
  <table class="table-setting">
    <tr>
      <td>
        <mat-card>
          <h2>Setting</h2>
          <a mat-raised-button style="width:100%;" routerLink="/employee/setting/group" routerLinkActive="select-setting">Group of Question</a>
          <br>
          <a mat-raised-button style="width:100%;" routerLink="/employee/setting/language" routerLinkActive="select-setting">Language</a>
          <br>
        </mat-card>
      </td>
      <td>
        <router-outlet>
        </router-outlet>
      </td>
    </tr>
  </table>
</mat-card>
