<div class="main-containt">
  <mat-card class="header">
    <h2>
      Inpatient hospital assessment form
    </h2>
  </mat-card>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <img src="./assets/bphTemplate/770x.jpg" id="md">
    <img src="./assets/bphTemplate/922x.jpg" id="lg">
  </div>
</div>