<mat-card>


  <div class="header-setting">
    <h3>Manage Questionaire of Group : {{groupName}}</h3>


    <button id="add-question" mat-raised-button (click)="addQuestion()">
      Add Question
    </button>

    <button id="back" mat-raised-button routerLink="/employee/setting/group">
      Back to Group
    </button>
    
  </div>
  <br>

  <table>
    <tr>
      <th>
        No.
      </th>
      <th>
        Question Text
      </th>
      <th>
        Question Type
      </th>
      <th>
        Manage
      </th>
    </tr>
    <tr *ngFor="let q of questions; let i = index">
      <td>
        {{q.orderNo}}
      </td>
      <td>{{q.questionText}}</td>
      <td>
        {{q.questionTypeName}}
        <!-- <button id="arrow-up" mat-icon-button [disabled]="i == 0" (click)="arrowUp(i)">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button id="arrow-down" mat-icon-button [disabled]="i == groups.length -1" (click)="arrowDown(i)">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button> -->
      </td>
      <td>
        <button id="edit" mat-icon-button (click)="editQuestion(q)">
          <mat-icon>settings</mat-icon>
        </button>
        <!-- <button id="question" mat-icon-button [routerLink]="['/employee/setting/question', g.groupID]">
          <mat-icon>library_books</mat-icon>
        </button> -->
      </td>
    </tr>
  </table>
</mat-card>