@import '../../global.scss';

.header-setting {
    h3 {
        display:inline;
    }
    #add-question {
        float:right;
        color:$bphBlue;
        // background-color:$bphRed;
    }

    #back {
        float:right;
        color:$bphWhite;
        background-color:$bphRed;
    }

}
table {
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    tr{
        th {
            // text-align:left;
            background-color:$bphBlue;
            text-align: left;
            color: white;
        }
        td,th {
            vertical-align:center;
            border: 1px solid #ddd;
            padding: 10px;
            #edit{
                color:$bphSkyBlue;
            }
            // #question{
            //     color:$bphOrange;
            // }
            // #arrow-up{
            //     color:$bphBlue;
            // }
            // #arrow-down{
            //     color:$bphRed;
            // }

            button:disabled{
                color:$bphGrey !important;
            }
        }
        td:last-child,th:last-child,td:nth-child(3),th:nth-child(3){
            width:100px;
            text-align:center;
        }
        td:first-child,th:first-child{
            width:40px;
            text-align:center;
        }
    }
    tr:hover {background-color: #ddd;}

}