<mat-card>
  <div class="header-setting">
    <h3>Manage Group</h3>
    <button mat-raised-button (click)="addGroup()">
      Add Group
    </button>
  </div>
  <br>

  <table>
    <tr>
      <th>
        No.
      </th>
      <th>
        Group
      </th>
      <th>
        Arrange
      </th>
      <th>
        Manage
      </th>
    </tr>
    <tr *ngFor="let g of groups; let i = index">
      <td>
        {{g.groupOrder}}
      </td>
      <td>{{g.groupName}}</td>
      <td>
        <button id="arrow-up" mat-icon-button [disabled]="i == 0" (click)="arrowUp(i)">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button id="arrow-down" mat-icon-button [disabled]="i == groups.length -1" (click)="arrowDown(i)">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </td>
      <td>
        <button id="edit" mat-icon-button (click)="editGroup(g)">
          <mat-icon>settings</mat-icon>
        </button>
        <button id="question" mat-icon-button [routerLink]="['/employee/setting/question', g.groupID]">
          <mat-icon>library_books</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</mat-card>