<p>Please check the patient's name.</p>
<mat-card>
  <table style="width:100%">
    <tr>
      <td style="width:150px;">
        <div *ngIf="picture">
            <img class="img-patient" [src]="picture?.LinkPhoto">
        </div>
        <div *ngIf="!picture">
            <h2 class="img-patient">No Image</h2>
        </div>

      </td>
      <td>
        <p>HN : {{patient.patHN}}</p>
        <p>Name : {{patient.patName + " " + patient.patLastName}}</p>
        <p>Birth Date : {{patient.patDOB}}</p>
      </td>
      <td>
        <p>EN : {{patient.patEN}}</p>
        <p>Location : {{patient.patWard}}</p>
        <p>Room : {{patient.patRoom}}</p>
      </td>
    </tr>
  </table>
</mat-card>
<br>
<div style="text-align:right;">
  <button mat-raised-button class="button-correct" (click)="correctHN()">HN ถูกต้อง</button>
  <button mat-raised-button class="button-not-correct" (click)="notCorrectHN()">HN ไม่ถูกต้อง</button>
</div>