@import '../global.scss';

.img-patient {
    width:120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2.img-patient {
    text-align: center; 
    height:90px;  
    line-height: 90px;
    color:$bphGrey;
    margin-bottom:0px;
}
