@import '../global.scss';
table {
    width:100%;
    td {
        width:33.3%;
        padding-bottom:20px;

        :hover{
            color:$bphWhite;
            background-color:$bphRed;
        }

        button{
            width:100%;
            // :hover{
            //     color:$bphWhite;
            //     background-color:$bphBlue;
            // }
        }
    }
}