<p>Please select the questions language</p>

<table>
  <tr *ngFor="let obj of objectLangs">
    <ng-container *ngFor="let lang of obj">
      <td >
        <button mat-raised-button (click)="gotoQuestion(lang.nationID)">
            {{lang.nationShow}} 
            <br>
            {{lang.nationName}} {{lang.nationID}}
        </button>
      </td>
    </ng-container>
  </tr>
</table>