$bphBlue: rgb(39,110,198);
$bphRed: rgb(234,39,44);
$bphWhite: white;
$bphSkyBlue: rgb(134,196,255);
$bphGrey: #dddddd;
$bphOrange: #FF9800;
$shadowBox:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$screenSmall: 768px;
$screenMedium: 922px;
