<mat-toolbar class='header'>
  <mat-toolbar-row>

    <!-- Menu Start -->

    <button menu mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="npr">NET PROMOTER REPORT</button>
      <button mat-menu-item [matMenuTriggerFor]="mp">MONITOR PATIENT</button>
      <button mat-menu-item [matMenuTriggerFor]="rbc">REPORT BY CASE</button>
      <button mat-menu-item [matMenuTriggerFor]="noq">NO.OF QUESTIONAIRE</button>
      <button mat-menu-item [matMenuTriggerFor]="cr">COMMENT REPORT</button>
      <mat-divider></mat-divider>
      <a routerLink="/employee/setting"  mat-menu-item>Setting Questionaire</a>
    </mat-menu>

    <mat-menu #npr="matMenu">
      <a mat-menu-item>Net Promoter Report</a>
      <a mat-menu-item>Net Promoter Report By Category</a>
      <a mat-menu-item>Social Status</a>
    </mat-menu>

    <mat-menu #mp="matMenu">
      <a mat-menu-item>Monitor Patient Report</a>
      <a mat-menu-item>Alerts Monitor Patient Report</a>
    </mat-menu>

    <mat-menu #rbc="matMenu">
      <a mat-menu-item>Monitor Patient Report</a>
      <a mat-menu-item>Alerts Monitor Patient Report</a>
    </mat-menu>

    <mat-menu #noq="matMenu">
      <a mat-menu-item>Case By Admin</a>
      <a mat-menu-item>Case By User</a>
      <a mat-menu-item>Report ADD ICD 10,9</a>
    </mat-menu>

    <mat-menu #cr="matMenu">
      <a mat-menu-item>Comment Report</a>
    </mat-menu>


    <!-- Menu End -->

    <span>Continual Service Improvement of Inpatient care</span>
    <span class="spacer"></span>

    <button mat-icon-button class="iconer">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>



<!--   
<mat-card style="min-height:100%">Hllo bro !</mat-card> -->