@import '../../../global.scss';

.content-header{
    color:white;
    h2 {
        margin:0px;
    }
}
.content-dialog{
    background-color:white;
    height:100%;
    border-radius: 0px 0px 15px 15px; 
    padding:10px;
    mat-form-field {
        width:100%;
    }
}

#submit {
    color:$bphWhite;
    background-color:$bphBlue;
}

#submit:disabled {
    background-color:$bphGrey !important;

}
#cancel {
    float:right;
    color:$bphWhite;
    background-color:$bphRed;
}