<section class="mat-typography">

  <div class="content-header">
    <h2>{{state}} Language</h2>
  </div>
  <div class="content-dialog">
    <form (ngSubmit)="submit(form)" #form="ngForm">

      <mat-form-field>
        <input matInput name="nameENG" placeholder="Name of Language English" autocomplete="off" [(ngModel)]="languages.nationID"
          required>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="nameTH" placeholder="Name of Language Name" autocomplete="off" [(ngModel)]="languages.nationName" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="nameNative" placeholder="Native" autocomplete="off" [(ngModel)]="languages.nationShow" required>
      </mat-form-field>

      <mat-checkbox [checked]="languages.nationActive == '1'" (change)="languages.nationActive == '1' ? languages.nationActive = '0' : languages.nationActive = '1';">Active</mat-checkbox>

      <br>
      <br>

      <button mat-raised-button type="submit" id="submit" [disabled]="form.invalid">OK</button>
      <button mat-raised-button id="cancel"  [mat-dialog-close]="false" >NO</button>
    </form>

  </div>
</section>