/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/global.scss";

html,body {
  height:100vh;
  width:100%;
  padding:0;
  margin:0;
  // overflow:auto;
  background-color:#dddddd;
}

.main-containt {
  margin:0 auto;
  width:$screenSmall;
  background-color:$bphWhite;
  height:auto;
  
  border-radius:$shadowBox;
  background-color:$bphWhite;
  .header {
    background-color:$bphBlue;
    color:$bphWhite;
  }
  .content{
    padding:20px;
    border-bottom:500px;
  }
  .footer{
    bottom:0;
    background-color:white; 
    img{ 
      display:none;
    }
  }
}

@media screen and (max-width:$screenSmall) {
  .footer{
    #md{
      display:block;
    }
    #lg{
      display:none;
    }
  }
}

@media screen and (min-width:$screenSmall) {
  .main-containt{
    width:$screenSmall;
  }
  .footer{
    #md{
      display:block;
    }
    #lg{
      display:none;
    }
  }
}

@media screen and (min-width:$screenMedium) {
  .main-containt{
    width:$screenMedium;
  }
  .footer{
    #md{
      display:none;
    }
    #lg{
      display:block;
    }
  }
}

.button-correct{
  background-color:$bphBlue !important;
  color: $bphWhite !important;
}

.button-not-correct{
  background-color:$bphRed !important;
  color: $bphWhite !important;
}

mat-checkbox .mat-icon {
  background: $bphRed;
}
mat-checkbox.mat-default-theme.mat-checked .mat-icon {
  background: $bphRed;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $bphRed;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $bphRed;
}

mat-toolbar-row {
  background-color:$bphBlue;
  color:$bphWhite;
}

.mat-dialog-container{
  background-color:$bphBlue;
  border-radius: 15px !important;
}

.md-select-menu-container { z-index: 99999 !important; }