<div [ngSwitch]="prologue">
    <div *ngSwitchCase="true">

        <h1 class="header-question" style="text-align:center">Inpatient Questionnaire (IPD)</h1>

        <p>
            Dear Patients,
        </p>

        <p style="text-indent:5em;">
            We are continually striving to maintain the quality of our service and improve on all aspects if necessary.
            We ask if you could complete the following questionnaire so that we can quickly remedy anything you may feel
            is in need of improvement.
        </p>

        <p style="text-align:right;padding-right:10em;">Yours faithfully,</p>

        <button mat-raised-button (click)="prologue = false"> OK </button>

    </div>
    <div *ngSwitchCase="false">

        <form (ngSubmit)="submitForm(form)" #form="ngForm">
            <div *ngFor="let question of questions; let i = index">

                <div *ngIf="question.usePlace == '1'">
                    <div *ngIf="question.groupText != '' && i != 0">
                        <br>
                        <br>
                    </div>
                    <h1 class="header-question">{{question.groupText}}</h1>
                    <mat-checkbox *ngIf="question.placeName != ''" [checked]="question.placeSelected" (change)="placeChecked(i,question.groupID,question.placeID)">{{question.placeName}}</mat-checkbox>
                    <div *ngIf="question.placeSelected">
                        <h3>{{question.questionNo + ") " + question.questionText}}</h3>
                        <mat-radio-group *ngIf="question.typeName == 'Choice'" class="choice" [name]="question.questionID" (change)="keepScore($event,i)">
                            <mat-radio-button [value]="question.score1">{{question.choice1}}</mat-radio-button>
                            <mat-radio-button [value]="question.score2">{{question.choice2}}</mat-radio-button>
                            <mat-radio-button *ngIf="question.choice3 != null" [value]="question.score3">{{question.choice3}}</mat-radio-button>
                            <mat-radio-button *ngIf="question.choice4 != null" [value]="question.score4">{{question.choice4}}</mat-radio-button>
                            <mat-radio-button *ngIf="question.choice5 != null" [value]="question.score5">{{question.choice5}}</mat-radio-button>
                        </mat-radio-group>

                        <mat-form-field class="text-detail" *ngIf="question.answer == question.useTextboxAt && question.useTextboxFlg == '1'">
                            <input matInput placeholder="Detail">
                        </mat-form-field>

                        <mat-radio-group *ngIf="question.typeName == 'Score'" class="score" [name]="question.questionID" (change)="keepScore($event,i)">
                            <mat-radio-button value=0> 0</mat-radio-button>
                            <mat-radio-button value=1> 1</mat-radio-button>
                            <mat-radio-button value=2> 2</mat-radio-button>
                            <mat-radio-button value=3> 3</mat-radio-button>
                            <mat-radio-button value=4> 4</mat-radio-button>
                            <mat-radio-button value=5> 5</mat-radio-button>
                            <mat-radio-button value=6> 6</mat-radio-button>
                            <mat-radio-button value=7> 7</mat-radio-button>
                            <mat-radio-button value=8> 8</mat-radio-button>
                            <mat-radio-button value=9> 9</mat-radio-button>
                            <mat-radio-button value=10> 10</mat-radio-button>
                        </mat-radio-group>

                        <mat-form-field class="text-suggestion" *ngIf="question.typeName == 'Suggestion'">
                            <textarea matInput #message placeholder="Message" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="4" maxlength="256"></textarea>
                            <mat-hint align="start">
                                <strong></strong>
                            </mat-hint>
                            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                        </mat-form-field>

                        <br>
                    </div>
                </div>

                <div *ngIf="question.usePlace == '0'">

                    <div *ngIf="question.groupText != '' && i != 0">
                        <br>
                        <br>
                        <!-- <hr> -->
                    </div>
                    <h1 class="header-question">{{question.groupText}}</h1>
                    <h3>{{question.questionNo + ") " + question.questionText}}</h3>

                    <mat-radio-group *ngIf="question.typeName == 'Choice'" class="choice" [name]="question.questionID" (change)="keepScore($event,i)">
                        <mat-radio-button [value]="question.score1">{{question.choice1}}</mat-radio-button>
                        <mat-radio-button [value]="question.score2">{{question.choice2}}</mat-radio-button>
                        <mat-radio-button *ngIf="question.choice3 != null" [value]="question.score3">{{question.choice3}}</mat-radio-button>
                        <mat-radio-button *ngIf="question.choice4 != null" [value]="question.score4">{{question.choice4}}</mat-radio-button>
                        <mat-radio-button *ngIf="question.choice5 != null" [value]="question.score5">{{question.choice5}}</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field class="text-detail" *ngIf="question.answer == question.useTextboxAt && question.useTextboxFlg == '1'">
                        <input matInput placeholder="Detail">
                    </mat-form-field>

                    <mat-radio-group *ngIf="question.typeName == 'Score'" class="score" [name]="question.questionID" (change)="keepScore($event,i)">
                        <mat-radio-button value=0> 0</mat-radio-button>
                        <mat-radio-button value=1> 1</mat-radio-button>
                        <mat-radio-button value=2> 2</mat-radio-button>
                        <mat-radio-button value=3> 3</mat-radio-button>
                        <mat-radio-button value=4> 4</mat-radio-button>
                        <mat-radio-button value=5> 5</mat-radio-button>
                        <mat-radio-button value=6> 6</mat-radio-button>
                        <mat-radio-button value=7> 7</mat-radio-button>
                        <mat-radio-button value=8> 8</mat-radio-button>
                        <mat-radio-button value=9> 9</mat-radio-button>
                        <mat-radio-button value=10> 10</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field class="text-suggestion" *ngIf="question.typeName == 'Suggestion'">
                        <textarea matInput #message placeholder="Message" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="4" maxlength="256"></textarea>
                        <mat-hint align="start">
                            <strong></strong>
                        </mat-hint>
                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                    </mat-form-field>

                    <br>
                </div>
            </div>

        </form>


    </div>
</div>