@import '../global.scss';
.choice{
    padding-left:20px;
    mat-radio-button {
        width:19%;
    }
}

h3{
    margin-bottom:0px;
}

.score{
    padding-left:20px;
    mat-radio-button {
        width:8%;
    }
}

.header-question{
    color:$bphBlue;
}

.text-detail{
    padding-top:20px;
    padding-right:20px;
    padding-left:20px;
    width:calc(100% - 40px);
}

.text-suggestion{
    width:calc(100% - 40px);
    // padding-right:200px;
    padding-right:20px;
    padding-left:20px;
}

.hide-group {
    display:none;
}

.show-group {
    display:block;
}
