<section class="mat-typography">

  <div class="content-header">
    <h2>{{state}} Group</h2>
  </div>
  <div class="content-dialog">
    <form (ngSubmit)="submit()" #form="ngForm">
      <mat-tab-group style="border: 1px solid #e8e8e8;">
        <div *ngFor="let gn of groupName">
          <mat-tab [label]="gn.nationName">
            <div style="padding:10px;">
              <mat-form-field>
                <input matInput [name]="gn.nationID" placeholder="Add Group Name" autocomplete="off" [(ngModel)]="gn.tranText">
              </mat-form-field>
            </div>
          </mat-tab>
        </div>
      </mat-tab-group>

      <br>

      <mat-checkbox [checked]="group.groupActive == '1'" (change)="group.groupActive == '1' ? group.groupActive = '0' : group.groupActive = '1';">Active</mat-checkbox>
      <mat-checkbox style="float:right;" [checked]="group.usePlace == '1'" (change)="group.usePlace == '1' ? group.usePlace = '0' : group.usePlace = '1';">Duplicate question from place</mat-checkbox>

      <br>
      <br>

      <button mat-raised-button type="submit" id="submit" [disabled]="form.invalid">OK</button>
      <button mat-raised-button id="cancel" [mat-dialog-close]="false">NO</button>
    </form>

  </div>
</section>